body {    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.3;
}

header {
    background-color: blanchedalmond;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    margin-top: 0px;
}
main {
    background-color: blanchedalmond;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
aside {
    background-color: rgba(245, 245, 245, 0.438);
    border-left: 15px solid #fff;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: rgb(65, 65, 65);
    margin-top: 5px;
    margin-bottom: 5px;
}
section {
    padding-bottom: 20px;
    padding-top: 5px;
}
h1 {
    text-align: right;
    font-weight: bolder;
}
a { 
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
a:hover {
    text-decoration: none;
    font-weight: normal;
}
a:visited { 
    text-decoration: non;
    color: black;
    font-weight: bolder;
}
ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
        display: inline;
}
img {
    margin-left: auto;
    margin-right: 0px;
    width: 60%;
}

@media (min-width: 1024px) {
    body {    
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18 px;
        line-height: 1.2;
        color: rgb (75,75,75);
    }
    
    header {
        background-color: rgb(195, 239, 250);
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 0px;
        padding-right: 10px;
        margin-top: 0px;
    }
    main {
        background-color: rgb(195, 239, 250);
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    section {
        padding-bottom: 20px;
        padding-top: 5px;
        padding-right: 200px;
    a { 
        text-decoration: none;
        color: rgb(75, 75, 75);
        font-weight: bolder;
    }
    a:hover {
        text-decoration: none;
        font-weight: normal;
    }
    a:visited { 
        text-decoration: non;
        color: rgb(75,75,75);
        font-weight: bolder;   
}